
.container {
    max-width: 1000px;
    margin: auto;
    background-color: #F5F5F5;
    padding: 5px;
}

.contain-top {
    width: 100%;
    max-height: 60px;
    display:flex;
    justify-items: center;
    padding-left: 20px;
}

.contain-left h3 {
    margin-top: 0px !important;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contain-left {
    max-width: 100%;
    padding: 20px;
    background-color: #ffffff;
    max-height: 575px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.bottom-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-table {
    width: 100%;
    margin-top: 10px;
}

.btn-show {
    padding: 5px;
    background-color:  #F5F5F5;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
}

.btn-active {
    background-color: #336ABC;
    color: #ffffff;
}

.image-avatar {
    width: 100%;
}

.contain-right {
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
}

.contain-left-demo {
    max-width: 35%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}


@media (max-width: 400px) {
    .content {
        flex-direction: column;
    }
    .contain-right {
        max-width: 100%;
    }
    .contain-left-demo {
        max-width: 100%;
    }
}

.form-input {
    width: 100%;
}

@media (min-width: 800px) {
    .sticky {
        position: fixed;
        top:0px;
        max-width: 300px;
    }
}

.form-label {
    display: inline-block;
    margin-top: 15px;
}

.btn-submit {
    width: 150px;
    height: 40px;
    background-color: #336ABC;
    color: #ffffff;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
}

.contain-bottom {
    width: 100%;
    height: 60px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bottom {
    color: #5D5F64;
}